.page-1 {
  background-image: url(./bg_image_page_1.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.left-navbar {
  display: flex;
  justify-content: space-between;
  gap: 250px;
  margin-left: 80px;
  padding-top: 20px;
}

.left-navbar li {
  display: inline-block;
  padding: 15px;
}

.right-navbar {
  margin-right: 40px;
}

.right-navbar li {
  display: inline;
  padding: 15px;
  margin-top: 10px;
}

.navbar {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  height: 90px;
}

.play-now {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 40px;
}

.play-now h1 {
  font-size: 50px;
}

.btn-play-now {
  background-color: yellow;
}
.btn-the-story {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}

.btn-the-story img {
  width: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.page-2 {
  background-image: url(./bg-image-2-gradient.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.container-page-2 {
  padding-top: 200px;
  color: white;
}

.container-page-2 p {
  margin-left: 30px;
}

.container-page-2 h1 {
  gap: 100px;
  display: flex;
  margin-left: 30px;
}

#carouselExampleIndicators {
  width: 700px;
  margin-left: 300px;
}

.page-3 {
  background-image: url(./Group.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.container-page-3 {
  display: flex;
  padding-top: 200px;
  margin-left: 700px;
  display: flex;
  flex-direction: column;
  color: white;
}

.container-page-3 h1 {
  padding-bottom: 30px;
}

.container-page-3 ul {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-style: none none none solid;
}

.container-page-3 li {
  color: #ffb548;
  margin-left: -22px;
}

#p1 {
  color: white;
  display: flex;
}

#tbd {
  border-style: none;
}

.page-4 {
  background-image: url(./Group\ 2.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.page-4 p {
  padding-top: 100px;
  margin-left: 600px;
  color: white;
}

.container-page-4 {
  padding-top: 50px;

  margin-left: 150px;
}

.system-req {
  color: white;
}
#os {
  color: #ffb548;
}

.table-req {
  color: white;
}

#processor {
  color: #ffb548;
}

#memory {
  color: #ffb548;
}

#storage {
  color: #ffb548;
}

#graphics {
  color: #ffb548;
}

.table-req {
  width: 600px;
}

.table-req tr {
  outline: solid;
  outline-color: #979797;
  border-width: 1px;
}

.table-req td {
  outline: solid;
  outline-color: #979797;
  border-width: 1px;
}

.table-graphic {
  outline: solid;
  outline-color: #979797;
  color: white;
}

.table-graphic td {
  padding-right: 94px;
  border-width: 1px;
}

.page-5 {
  background-image: url(./bg\ image\ 5.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 120vw;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.left-side-page-5 {
  color: white;
  padding-top: 200px;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.right-side-page-5 {
  display: flex;
  color: white;
  flex-direction: column;
  gap: 20px;

  margin-right: 100px;
}

.twitter-card-1 {
  width: 460px;
  height: 190px;
  background-color: rgba(255, 255, 255, 0.08);
  gap: 9px;
  border-radius: 5%;
}

.card-1-top {
  display: flex;
  padding-top: 10px;
  gap: 15px;
  justify-content: space-between;
  white-space: nowrap;
}

.card-1-top h2 {
  color: #ffb548;
}

.card-1-top img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-top: 10px;
}
.twitter-card-1-name {
  margin-top: 0px;
  padding-right: 200px;
}

.card-1-bottom {
  padding-top: 10px;
  padding-left: 10px;
}

.card-1-bottom p {
  color: #979797;
}

#twitter {
  width: 20px;
  height: 20px;
}

.twitter-card-2 {
  width: 480px;
  height: 190px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 5%;
}

#card-2-bottom {
  margin-bottom: 20px;
  margin-left: 50px;
}

.twitter-card-3 {
  width: 520px;
  height: 190px;
  background-color: rgba(255, 255, 255, 0.08);
  margin-top: 50px;
  border-radius: 5%;
}

.btn-see-more {
  background-color: #ffb548;
  width: 150px;
}


#skull{
  padding-top: 300px;
  padding-left: 0px;
  height: 894px;
  width: 445.7;

}

.news-letter{
  padding-top: 200px;
  display: flex;
  flex-direction: column;
}

#email{
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 5%;
}
#your-email{
  color: #ffb548;
}

.footer-top{
  display: flex;
  font-size: 12px;
  gap: 20px;
  padding-top: 230px;
  white-space: nowrap;
  margin-right: 500px;
}

.footer-bottom{
  display: flex;
  font-size: 12px;
  gap: 70px;
  margin-left: 200px;
}









@media (max-width: 1430px) {
  .btn-the-story {
    margin-top: 200px;
  }
}

@media (min-width: 1535px) {
  .container-page-3 {
    margin-left: 800px;
  }
}

@media (max-width: 1700px) {
  .container-page-3 {
    margin-left: 800px;
  }
}

@media (min-width: 1301px){
  .footer-bottom{
    margin-left: 400px;
  }
}
